---
layout: default
---
<style> 
ul {  
  padding-left:1em; 
} 
</style> 
<h2>Greetings.</h2>
<p>
Post-doc studying things that wiggle in the wind.
</p>
<p>
I am a Canadian currently living in the United Kingdom studying fluid-structure interactions in nature. In particular, I look at how interspecific variation or behavioural changes in posture can adapt aeroelastic responses to improve performance across a range of functions. Currently I am working on a project to study how bird feathers can encode flow information during flight through feather vibrations.
</p>
<p>
In my spare time, I enjoy climbing up mountains, skiing back down, and descending in to the depths of caves. I also collect books faster than I can read them. 
</p>

<h3>Main Reseach Interests</h3>
<ul>
<li>Interspecific structural variation and locomotion performance</li>
<li>Behaviour-driven structural changes to modulate fluid-structure responses</li>
<li>Adaptable performance in extreme challenges</li>
<li>Engineering methods to study the nature</li>
</ul> 

<h3>Contact me</h3>

<p>
<a href="mailto:jasmin.wong@bristol.ac.uk">
  {% include social-icon.html icon="Email" %}
</a>
<a href="https://twitter.com/robotjasmin">
  {% include social-icon.html icon="Twitter" %}
</a>
<a href="https://www.linkedin.com/in/jasmincmwong/">
  {% include social-icon.html icon="LinkedIn" %}
</a>
<a href="https://www.instagram.com/jascmw/">
  {% include social-icon.html icon="Instagram" %}
</a> <br/>

1.68 Queen's Building<br>
University Walk<br>
University of Bristol<br>
Bristol, United Kingdom<br>
BS8 1TR
</p>
<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->
