---
layout: default
---

<h2>Greetings.</h2>
<p>
I am a Ph.D. student interested in fluid-structure interactions, active and passive control of flow-induced vibration, 
and computational and experimental methods for studying aeroelastic phenomena.
</p>

<h3>More Information</h3>
<p>
Currently, my research investigates the influence of avian wing morphing on the material properties of the soft tissue as well as
the multi-element, feathered flight surface, and how these changes in mechanical properties will affect the wing's aeroelastic 
response during flight. I use a combination of experimental materials testing and vibrometry and computational fluid-structure 
interaction simulations.
</p>
<p>
The remaining 90% of my personality is all about climbing. 
</p>

<h3>Contact me</h3>

<p>
<a href="mailto:jwong@zoology.ubc.ca">jwong@zoology.ubc.ca</a><br/>
<a class="social-icon--link twitter" href="https://twitter.com/robotjasmin">
  <svg class="social-icon--svg twitter">…</svg>
</a><br/>
{% include social-icon.html icon="Facebook" %}

#3309-6270 University Blvd.<br/>
Department of Zoology<br/>
University of British Columbia<br/>
Vancouver, B.C.<br/>
V6T 1Z4
</p>
<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->
